html, body {
    margin: 10;
    padding: 10;
    text-align: center;
    background: burlywood;
    color: brown;
}

h1 {
    font-family: 'Mochiy Pop P One', sans-serif;
    color: brown;
    font-size: 64px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
    border: solid 2px black;
    margin: auto;
}

.square {
    width: 20px;
    height: 20px;
}

.snake {
    background-color: green;
}

.apple {
    background-color: red;
}
